

<div class="container ">
  <h1 class="my-5 center">Trending Movies</h1>
  <div class="row center">
  
    <div class="col-md-4 movie-card" *ngFor="let dt of data">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{dt.original_title}}</h5>
          <p class="card-text">{{dt.overview}}</p>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Media Type: </strong>{{dt.media_type}}</li>
          </ul>
        </div>
      </div>
    </div>
  
  </div>
</div>
